@tailwind base;

@tailwind components;

@tailwind utilities;


#transportationListContainer{
	margin:10px;
}

#timeSlotsContainer {
	margin:10px;
}

#formOptions {
	display: flex;
	justify-content : space-around;
}

