node_modules/
.settings/org.eclipse.core.resources.prefs
.project
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.classpath
target/classes/application.properties
target/classes/fr/taqmac/Main.class
target/classes/fr/taqmac/datamodel/EndPoint.class
target/classes/fr/taqmac/datamodel/ModeTransport.class
target/classes/fr/taqmac/datamodel/Point.class
target/classes/fr/taqmac/datamodel/Position.class
target/classes/fr/taqmac/datamodel/StartPoint.class
target/classes/fr/taqmac/datamodel/TransportChoice.class
target/classes/fr/taqmac/datamodel/Travel.class
target/classes/fr/taqmac/datamodel/TravelComplete.class
target/classes/fr/taqmac/datamodel/TravelGeo.class
target/classes/fr/taqmac/parser/TisseoParser.class
target/classes/fr/taqmac/services/HTTPService.class
target/classes/fr/taqmac/services/OpenRouteService.class
target/classes/fr/taqmac/services/OpenStreetMapService.class
target/classes/fr/taqmac/services/TisseoApiParserService.class
target/classes/fr/taqmac/utils/ResponseHttpUtils.class
